@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* globals.css */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Inter', serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.style1 {
  color: rgb(0, 211, 248);
  top: -25vh;
  left: -20vw;
  position: absolute;
  z-index: -1;
  font-size: 900px;
}

.style {
  color: rgb(0, 204, 255);
  font-size: 200px;
  position: absolute;
  z-index: -1;
  font-size: 900px;
  top: -10vh;
  left: -10vw;
}

.style3 {
  color: rgb(240, 247, 248);
  top: 25vh;
  left: 20vw;
  position: absolute;
  z-index: -1;
  font-size: 100px;
}

section {
  overflow: hidden;
  position: relative;
  min-height: 80vh;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  padding: 10px;
  align-items: center;
  color: aliceblue;
  position: fixed;
  background-color: #292929;

  z-index: 1000;
  box-shadow: inset 0px 0px 20px rgb(109, 98, 98);
}



header h1 {
  color: #f0e5cdec;
  /* text-shadow: 1px 2px 2px rgb(255, 255, 255); */
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
}
header button{
  background-color: #fff;
visibility: hidden;
}

span {
  color: rgb(88, 249, 255);
}

header nav ul {
  display: flex;
  padding: 2px;
  position: relative;
  left: -100px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  padding: 10px;
  font-size: clamp(12px, 4vw, 20px);
  color: rgba(240, 248, 255, 0.74);
}

.section1 {
  display: flex;
  padding: 10px;
  background-color: #292929;
  position: relative;


  color: rgb(247, 249, 250);
  z-index: 10;

}

h1 {
  color: #fcfcfc;
  font-size: clamp(35px, 4vw, 40px);
  font-weight: 700;
}

h2 {
  font-size: clamp(25px, 4vw, 30px);
  font-weight: 500;

}

p {
  font-size: clamp(18px, 4vw, 20px);
  color: rgba(233, 227, 227, 0.877);
  font-weight: 500;
}

.box {
  font-size: clamp(12px, 4vw, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #00000038;

  border: 1px solid rgba(65, 65, 65, 0.589);
  border-radius: 10px;
  margin-top: 10vh;
}

.about {
  padding: 10px;
}

section img {
  scale: 0.9;
  width: 50vw;
  border-radius: 0%;



  transition-duration: 0.5s;
}

section img:hover {
  scale: 1;
  box-shadow: 2px 0px 100px rgb(2, 130, 235), 1px 0px 10px rgb(39, 130, 250), inset 1px 0px 100px rgb(53, 163, 241);
}

.section2 {
  display: flex;
  flex-direction: column;
  background-color: #292929;
  ;
  color: #fdf8f8;
  min-height: 60vh;
  padding: 2vh;
  z-index: 10;

  text-align: start;
}

.section2 p {
  padding: 20px;
}

.section3 {
  display: flex;
  background-color: #292929;
  align-items: center;
  justify-content: flex-start;
  color: #faf8f8;
  flex-direction: column;
  padding: 10px;
  min-height: 100vh;
}

.section3 .h1 {
  padding: 10px;

}

.skils {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 50px;
  text-align: start;

  padding: 20px;
}

.card {
  font-size: clamp(100px, 4vw, 25px);
  display: flex;
  padding: 20px;
  gap: 10px;
  gap: 4px;
  scale: 0.9;
  border: 1px solid rgba(255, 255, 255, 0.158);

}

.card:hover {
  transition: .1s;
  scale: 1;
}

.icon {
  font-size: 35px;
  color: rgb(184, 204, 0);
}

.box2 {
  display: flex;
  flex-direction: row;
}

.card .div {

  height: 5px;
  width: 150px;
  background-color: #f8f2f2;
}

.card h2 {
  font-size: 14px;
  padding: 5px;
}

.card h1 {
  font-size: 20px;
  position: relative;
  top: 10px;
  padding: 5px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  background-color: #161616;
  color: #f8f2f2;
  flex-direction: column;
  gap:30px;
  padding: 30px;
}

.conact-us{
 display: flex;
gap: 20px;
}
.footer-content p{
  font-size: 15px;
  position:relative ;
right: 18vw;
}
.conact-us span{
  font-size: 40px;
color: #f8f2f2;
}
@media (max-width: 968px) {
  header {
    height: 8vh;
  }

  .skils {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
    text-align: start;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .footer-content{
    gap:10px;
  }
  .conact-us{
    display: flex;
    flex-direction: column;
   

  }
  .conact-us span{
    position:relative;
    top:60px;
    right: 70px;
    font-size: 40px;
  
  }
  section {
    display: flex;
    justify-content: center;
  }

  .box {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  header button{
    background-color: #fff;
   visibility: visible;
   position: absolute;
   right: 9px;
  }
  header nav {
   position: absolute;
    color: rgb(235, 151, 26);
    height: 8vh;
  justify-content: center;
  display: flex ;
   align-items: center;
top:-50px;
   text-align: center;
    transition: .3s;
  right: 0px;
  }

  header nav ul {
    display: flex;
    width: 100vw;
    padding: 100px;
   
  }
  

  .skils {
    display: grid;
    grid-template-columns: 1fr;

  }
}